body{
    background-color: #00131d;
}
.college_name_container{
    display: flex;
    margin: 5px 0px;
   justify-content: center;
    width: 100%;
}
.college_name_container img{
    width: 87px;
    height: 161px;
}
.college_name_container p{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #119696;
}

.college_img_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.college_img_block img{
    border-radius: 5px;
    margin-left:0 10px;
    width:100%;
    
}
.college_p_block{
    display: flex;
    margin-top: -12px;
    align-items: center;
    width: 100%;
    justify-content: center;
  
}
.college_p_block p{
   color: #ffffffd4;
   font-size: 36px;
   font-weight: bold;
  
}
a .fa-arrow-alt-circle-right{
    color: #ffffffd4;
    font-size: 40px;
    margin-left:21px;
}
.college_p_block {
    margin-top: -40px;
}

.dep_container{
    margin:0px auto;
    width:70%;
margin-top:40px;
}
table{
    width:100%;
    box-shadow: -12px 9px 19px -3px #085e5e;
}
table td {
    padding:15px 20px;
    background-color: white;
    color:  #00131d;
    border: 5px solid  #00131d;
    text-align: center;
    border-radius: 5px;
}
table tr{
    border: 1px solid white;
    border-radius: 5px;
}
table td a{
text-decoration: none;
color: #00131d;
font-size: 20px;
letter-spacing: 2px;

}

.p_container{
    display: flex;
    justify-content: center;
    color:white;
    font-weight: bold;
    font-size:32px;
    letter-spacing: 2px;
}
