body{
    background-color: #00131d;
}
.college_name_container{
    display: flex;
    margin: 5px 0px;
   justify-content: center;
    width: 100%;
}
.college_name_container img{
    width: 87px;
    height: 161px;
}
.college_name_container p{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #119696;
}

.college_img_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.college_img_block img{
    border-radius: 5px;
    margin-left:0 10px;
    width:100%;
    
}
.college_p_block{
    display: flex;
    margin-top: -12px;
    align-items: center;
    width: 100%;
    justify-content: center;
  
}
.college_p_block p{
   color: #ffffffd4;
   font-size: 36px;
   font-weight: bold;
  
}
a .fa-arrow-alt-circle-right{
    color: #ffffffd4;
    font-size: 40px;
    margin-left:21px;
}
.college_p_block {
    margin-top: -40px;
}


/* 

@media (max-width:900px){
    .college_name_container p {
        font-size:24px;
    }
    .college_p_block p{
        font-size: 30px;
    }
}

@media (max-width:550px){
    .college_name_container p {
        font-size:14px;
        margin-top: 38px;
    }
    .college_p_block p{
        font-size:25px;
    }

    .college_name_container img{
        width: 80px;
        height: 121px;
    }
    a .fa-arrow-alt-circle-right{
        font-size:29px;
        
    }
} */